.sidebar {
    background-color: white;
    color: white;
    position: fixed;
    top:56px;
    bottom: 0;
    left:0;
    width: 210px;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    padding-top: 8px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    margin-left: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
}

.sidebar-link img {
    height: 24px;
    margin-right: 25px;
}

.sidebar-link div {
    font-size: 14px;
    
}

#sidebar-home {
    background-color: rgb(242, 242, 242);
    font-weight: 500;
}

#sidebar-home:hover {
    background-color: rgb(230, 230, 230);
}

.solid {
    border-top: 1px solid rgba(242, 242, 242, .2);
    width: 225px;
    margin-left: 10px;
}

@media (max-width: 1314px) {
    .sidebar {
        width: 70px;
        margin-top: 0px;
    }

    .sidebar-link {
        flex-direction: column;
        justify-content: center;
        margin-left: 4px;
        padding: 14px 0px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .sidebar-link img {
        margin-right: 0px;
        margin-bottom: 7px;
    }

    .sidebar-link div {
        font-size: 10px;
    }

    #sidebar-home {
        background-color: white;
        font-weight: 400;
    }

    .solid {
        margin: 0;
        border-top: 0px;
        margin-left: 0px;
        visibility: hidden;
        opacity: 0.0;
    }
}